@media screen {
  .button {
    border-radius: 4px;
    height: 46px;
    border: none;

    font-weight: bold;
    /* width: 216px; */
    margin: 0 auto;
    width: 45%;
  }
}

@media print {
  .button {
    display: none ;
  }
}
