@import url("./__refresh-button/form__refresh-button.css");
@import url("./__button-container/form__button-container.css");
@import url("./__client-id-input/form__client-id-input.css");
@import url("./__print-button/form__print-button.css");

@media screen {
  .form {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 14px;
  }
}

@media print {
  .form {
    font-family: Inter;
    font-style: normal;
    font-size: 1rem;
    line-height: 130%;
  }
}
