@import url("./__title/login-form__title.css");
@import url("./__label/login-form__label.css");
@import url("./__input/login-form__input.css");
@import url("./__button/login-form__button.css");
@import url("./__field-container/login-form__field-container.css");
@import url("./__link/login-form__link.css");
@import url("./__error/login-form__error.css");
@import url("./__background/login-form__background.css");

.login-form {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  color: #1e1e1e;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 340px;
  min-height: 450px;
  margin: 135px auto;
  padding: 50px 30px 30px;

  background-color: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  opacity: 1;
}

::-webkit-input-placeholder {
  transition: inherit;
  opacity: 0;
}
